<header>
    <h1>Document Management</h1>
</header>

<nav class="navbar">
    <div class="app-name">
        <a routerLink="./">Your Documents</a>
    </div>
    <div class="auth-links">
        <a (click)="addDocument()">Add Document</a>
    </div>
    <div class="auth-links">
        <a (click)="ngOnInit()">Refresh</a>
    </div>
    <div class="auth-links">
        <a href="/login">Deconnecter</a>
    </div>
</nav>
<table>
    <thead>
        <tr>
            <th>Location</th>
            <th>Name</th>
            <th>Extension</th>
            <th>Type</th>
            <th>Size</th>
            <th>Owner</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let document of documents">
            <td><input type="text" [(ngModel)]="document.emplacement" disabled></td>
            <td><input type="text" [(ngModel)]="document.name" [disabled]="editingDocument !== document"></td>
            <td><input type="text" [(ngModel)]="document.extension" [disabled]="editingDocument !== document"></td>
            <td><input type="text" [(ngModel)]="document.type" [disabled]="editingDocument !== document"></td>
            <td><input type="text" [(ngModel)]="document.taille" [disabled]="editingDocument !== document"></td>
            <td><input type="text" [(ngModel)]="document.proprietaire" disabled></td>
            <td>
                <ng-container *ngIf="editingDocument === document">
                    <button class="save" (click)="saveDocumentChanges()">Save</button>
                    <button class="cancel" (click)="cancelEdit()">Cancel</button>
                </ng-container>
                <ng-container *ngIf="editingDocument !== document">
                    <button class="edit" (click)="editDocument(document)">Edit</button>
                    <button class="delete" (click)="deleteDocument(document)">Delete</button>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>