<div class="wrapper">
    <div class="menu">
        <ul>
            <h2>Admin Dashboard</h2>
            <li (click)="ngOnInit()">All Users</li>
            <li (click)="role_user()">Users</li>
            <li (click)="role_admin()">Admins</li>
            <li class="deconnection"><a href="#">Deconnecter</a></li>
        </ul>
    </div>
    <div class="form-wrapper">
        <div class="dashboard">
            <table>
                <tr>
                    <th class="header">Username</th>
                    <th class="header">Role</th>
                    <th class="header">Status</th>
                    <th class="header"></th>
                    <th class="header"></th>
                    <th class="header"></th>
                    <th class="header">Actions</th>
                </tr>
                <tr class="user-card" *ngFor="let user of users">
                    <th>{{user.username}}</th>
                    <td>{{user.role}}</td>
                    <td>{{user.accountStatus}}</td>
                    <td></td>
                    <td></td>
                    <td><button class="activate-btn" (click)="change_status(user)" [disabled]="user.accountStatus == 'active'">Activate</button></td>
                    <td><button class="suspend-btn" (click)="change_status(user)" [disabled]="user.accountStatus == 'suspended'">Suspend</button></td>
                    <td><button class="delete-btn" (click)="delete(user)">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>